<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
        <form action="{{ path('login') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
                
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            
            <button type="submit">login</button>
        </form>
        
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
            <h3>Welcome {{ app.user.username }}</h3>
        {% endif %}
        
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
