{# app/Resources/views/home.html.twig #}

{% extends 'default/default.html.twig' %}

{% block body %}

<div class="row">
<div class="col-sm-10 col-sm-push-1">
    
    {% for label, messages in app.flashes() %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismislable" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4>Your Profile</h4>
        </div>
        <div class="panel-body" style="color:#222">
            some table here
        </div>
        <div class="panel-footer text-muted">
            <a href="{{ path('profile', {'id': app.user.id }) }}" class="btn btn-primary">Preview</a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default text-center" style="border-color:#e74c3c">
                <div class="panel-heading" style="background:#e74c3c">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true" style=" font-size: 48px;"></span>
                </div>
                <div class="panel-body" style="color:#222">
                    some table here
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center" style="border-color:#9b59b6">
                <div class="panel-heading"  style="background:#9b59b6">
                    <span class="glyphicon glyphicon-signal" aria-hidden="true" style=" font-size: 48px;"></span>
                </div>
                <div class="panel-body" style="color:#222">
                    some table here
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center" style="border-color:#34495e">
                <div class="panel-heading"  style="background:#34495e">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true" style=" font-size: 48px;"></span>
                </div>
                <div class="panel-body" style="color:#222">
                    some table here
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default" id="panel-default">
        <div class="panel-heading">
            Your Latest Posts
            <button type="button" class="close" data-target="#panel-default" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="panel-body" style="color:#222">
            
            {% include 'dashboard/posts.html.twig' with {'posts': posts} %}

        </div>
        <div class="panel-footer text-muted">
            <a href="{{ path('create_post') }}" class="btn btn-success">Create New</a>
            <a href="{{ path('blog') }}" class="btn btn-warning pull-right">View All</a>
        </div>
    </div>

    <div class="panel panel-danger" id="panel-warning">
        <div class="panel-heading">
            Your Latest Comments
            <button type="button" class="close" data-target="#panel-warning" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="panel-body" style="color:#222">
            {% include 'dashboard/comments.html.twig' with {'comments': comments} %}
        </div>
    </div>
    
    </div>
</div>
{% endblock %}