{# app/Resources/views/home.html.twig #}

{% extends 'default/default.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-sm-10 col-sm-push-1">
      
    {% if search is defined %}
        <div style="margin-bottom:20px">    
        <form class="form-inline" method="post" action="{{ path('search') }}">
            <div class="input-group" style="width:100%">
                <input type="text" name="search" class="form-control input-lg" placeholder="Search for...">
                <span class="input-group-btn" style="width: 150px">
                    <button type="submit" class="btn btn-danger btn-lg" style="width:100%">Search</button>
                </span>
            </div>
        </form>
        </div>
    {% endif %}
        
    {% if posts is not empty %}
    {% for post in posts%}

        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="{{ asset('uploads/posts/' ~ post.image) }}" class="img-responsive" style="width:100%" />
            </div>
            <div class="panel-body" style="color:#222">
              <h3>{{ post.title }}</h3>
              <p>{{ post.summary }}</p>
              <a href="{{ path('view_post', {'id': post.id} )}}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="panel-footer text-muted">
              By: <a href="{{ path('profile', {'id': post.author.id }) }}"> {{ post.author.username }}</a> on {{post.date|date('Y-m-d') }}
            </div>
          </div>

    {% endfor %}
    {% else %}
        <div style="padding:60px 0px">
        <div class="text-center">
            <h2>No posts have been found! </h2>
            <a href="{{ path( 'homepage' )}}" class="btn btn-default">Back to Homepage</a>
        </div>
        </div>
    {% endif %}
        
    </div>
</div>

{% endblock %}